@font-face {
  font-family: 'appleFont';
  src: url('./fonts/sf-pro-text_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'appleFont', sans-serif;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(245, 245, 245);
  height: 45px;
  z-index: 50;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navs {
  height: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 800px;
  padding-left: 10px;
}

#navs > li > a {
  font-size: 12px;
}

#logo {
  height: 40px;
  width: 40px;
}

#menu {
  display: none;
}

main {
  width: 100%;
}

#firstMain {
  margin-top: 45px;
}

.main1 {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 692px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 12px;
  cursor: pointer;
}

.main1-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the section properly */
  object-position: center; /* Centers the image in the viewport */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-content {
  position: absolute;
  top: 80px;
  z-index: 1;
}

h2 {
  display: flex;
  font-size: 60px;
  color: rgb(255, 255, 255);
  padding-bottom: 5px;
  justify-content: center;
}

p {
  justify-items: center;
  font-weight: 120;
  font-size: 25px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttons > button {
  font-size: 15px;
  padding: 12px;
  border-radius: 30px;
}

button:hover {
  cursor: pointer;
}

.moreInfo {
  background-color: rgb(0, 113, 227);
  color: white;
  border: #2997ff;
}

.buyBlue {
  background-color: rgba(255, 255, 255, 0);
  color: #2997ff;
  border: 1px solid #2997ff;
}

.moreInfo:hover {
  background-color: #0077ed;
}

.buyBlue:hover {
  background-color: #0077ed;
  color: white;
}

#watchSeries10 {
  height: 80px;
  margin-bottom: 10px;
}

#sectionFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 12px;
}

.miniSectionsFlex {
  display: flex;
  height: 580px;
  max-height: 580px;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  width: calc(50% -24px);
}

.section1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
  min-height: 500px;
  min-width: 400px;
}

@media (max-width: 768px) {
  .main1 {
    height: 500px;
  }

  #firstMain {
    margin-top: 45px;
  }

  #firstContent {
    padding-top: 290px;
  }

  #iPhone1 {
    content: url('./photos/iphone_pro_background_mobile.jpg');
  }

  #iPhone2 {
    content: url('./photos/iphone16_blue_background_mobile.jpg');
  }

  #secondContent {
    top: 60px;
  }

  #iPhone3 {
    content: url('./photos/smart_watch_background_mobile.jpg');
  }

  #watchSeries10 {
    height: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .buttons > button {
    font-size: 14px;
    padding: 10px;
  }

  .miniSectionsFlex {
    width: 100%;
  }

  #sectionFlex {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 720px) {
  .menu {
    display: none;
  }
  #menu {
    display: block;
  }
  #navs {
    padding-right: 10px;
  }
}
